<Layout::Section::Header @title="Solid for Fleetbase" />
<Layout::Section::Body class="solid-fleetbase-home-container">
    <h1>Welcome to Solid for Fleetbase</h1>
    <h2>Getting Started</h2>
    <div class="mt-2">
        <p>
            <a href="#" {{on "click" (perform this.authenticate)}}>Sign up for an account</a> to get started with your own Pod and WebID. Once you are logged in you can begin to manage your pods and sync data directly from Fleetbase to your Pods.
        </p>
    </div>
    {{!-- <Button @text="Click to Test" @icon="magic" @onClick={{perform this.getAccountIndex}} @wrapperClass="mt-4" /> --}}
</Layout::Section::Body>