{{page-title "Dummy"}}

<<<<<<< HEAD
<h2 id="title">Welcome to Ember</h2>
=======
{{! The following component displays Ember's default welcome message. }}
<WelcomePage />
{{! Feel free to remove this! }}
>>>>>>> 2067680 (v4.6.0...v5.4.1)

{{outlet}}